.container{
    
    height: 100vh;
}
.card{
    cursor: pointer;
}
.bi{
    cursor: pointer;
}
body{
    font-family: 'Luckiest Guy', cursive;
}
.color-hex{
    font-family: 'Poiret One', cursive;
}

